---
import ShorterURL from '../components/ShorterURL.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Acortador de URLs.">
	<h1>Acortador de URLs</h1>
	<ShorterURL />
</Layout>